body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    padding: 0px;
    flex-direction: row;
    text-align: cente
}

main p {
    max-width: 80%;
    text-align: justify;
}

.highlight {
    color: #06ACA3;
}
.btn-join{
    background-color: #0070AE;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    margin: auto;


    
}



.text-container {
    flex: 1; /* El texto ocupará todo el espacio disponible */
    padding: 20px;

}
.text {
    margin-left: 50px; /* Agrega margen a la izquierda */
}

.btn-join {
    margin-top: 10px; /* Ajusta el margen superior */
    margin-left: 20px; /* Iguala el margen izquierdo al del texto */
}


.fade-image {
    width: 100%; /* La imagen ocupará la mitad del ancho */
    position: relative;
    align-self: flex-start; /* Alinea la imagen al final del contenedor */
    left: auto;
}

.fade-image img {
    width: 100%;
    height: 100VH;
}

.fade-image::after {
    content: "";
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
    top: 0;
    left: 0;
    width: 30%; /* Ancho del fade */
    height: 100%;
    z-index: 2;
}
.box {
    max-width: 500px;
    height: 200px;
    width: calc(80% - 10px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.box p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: white;
}

.box:nth-child(odd) {
    background-color: #0070AE;
}

.box:nth-child(even) {
    background-color: #AC3C8E;
}

main {
    display: flex;
    justify-content: space-between;
}






  
